.topnav {
  background-color: #F26A8D;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #ddd;
  color: #880D1E;
}
.topnav a.active {
  background-color: #F49CBB;
  color: white;
}